<div class="ui fixed inverted menu">
  <div class="ui container">
    <a href="#" class="header item">
      Quản Lý Khách Sạn Hoàng Long
    </a>
    <ng-container *ngFor="let menuItem of menu">
    <a [routerLink]="menuItem.url" class="item">{{ menuItem.name }}</a>
    <!-- <div *ngIf="menuItem.subMenu" [routerLink]="menuItem.url" class="ui simple dropdown item">
      {{ menuItem.name }} <i class="dropdown icon"></i>
      <div class="menu">
        <a *ngFor="let subItem of menuItem.subMenu" class="item" [routerLink]="[subItem.url]">{{ subItem.name }}</a>
      </div>
    </div> -->
    </ng-container>
  </div>
</div>