<div class="content" [class.occupied]="room.isOccupied" [class.dirty]="room.status==2">
  <div *ngIf="booking" class="ui green ribbon label">
    Phòng này đã được đặt vào ngày mai bởi {{ booking.name }}<br/>Nhận phòng lúc {{ booking.hour }}
  </div>
  <div class="ui huge header aligned center">
    Phòng: {{ room.name }}
  </div>
  <div class="ui violet header meta">
    Loại Phòng: {{ room.type == 1 ? 'Phòng Đơn' : 'Phòng Đôi' }} <img class="right floated mini ui image" src="assets/images/{{room.imgUrl}}">
  </div>
  <div class="ui blue header">
    Tình Trạng: <span class="ui basic green label right floated" [class.green]="!room.isOccupied" [class.red]="room.isOccupied"> {{ room.isOccupied ? 'Có Khách' : 'Trống' }}</span>
  </div>
  <div class="ui pink header">
    Tình trạng vệ sinh: <span class="ui basic green label right floated" [class.blue]="room.status==2"> {{ room.status == 1 ? 'Sạch' : 'Dơ' }}</span>
  </div>
</div>
<div *ngIf="!room.isOccupied && (room.status == 1 || room.status == 4)" class="ui bottom attached button blue" (click)="showCustomerSearchModal(room);setSelected(room)">
  <i class="add icon"></i> Nhận Phòng
</div>
<div *ngIf="room.isOccupied" class="ui two bottom attached buttons">
  <button class="ui button green" (click)="servicePopup.show($event, {position: 'top center'})">Menu Phụ</button>
  <div class="ui red button" (click)="checkOut(room)">Trả Phòng</div>
</div>
<div *ngIf="!room.isOccupied && room.status==2" class="ui bottom attached button orange" (click)="clean(room)">
  <i class="paint brush icon"></i> Phòng Đã Dọn
</div>

<app-customer-search-form [roomId]="room.$key" #searchForm></app-customer-search-form>

<sm-popup #customerPopup>
  <div class="ui icon buttons">
    <button class="ui basic button orange">View</button>
    <button class="ui basic button teal">Edit</button>
  </div>
</sm-popup>

<sm-popup #servicePopup>
  <div class="ui vertical buttons">

    <button class="ui fluid button orange" (click)="moveRoomModal.show()">Chuyển Phòng</button>
    <button class="ui fluid button green" [routerLink]="['/orders',room.orderId,'yes']" skipLocationChange>Xem Hóa Đơn Tạm Thời</button>
    <button class="ui fluid button blue" [routerLink]="['/hotel-services',room.orderId]" skipLocationChange>Thêm Dịch Vụ</button>
    <button class="ui fluid button violet" (click)="markAsDirtyOrClean(room)">{{ room.status == 1 ? 'Báo Phòng Dơ' : 'Báo Phòng Sạch'}}</button>
    <button class="ui fluid button teal" [routerLink]="['/orders', room.orderId,'customer']" skipLocationChange> Xem/In Thông Tin Khách Hàng</button>
  </div>
  
</sm-popup>

<sm-modal title="Thêm Dịch Vụ" icon="user circle outline" #moveRoomModal>
  <modal-content>
    <div class="ui label">Chọn Phòng Muốn Chuyển:</div>
    <select [(ngModel)]="moveRoom" class="ui fluid search selection dropdown">
      <option *ngFor="let room of rooms" [ngValue]="room">{{ room.name }}</option>
    </select>
  </modal-content>
  <modal-actions>
    <button class="ui blue button" (click)="move()">Chuyển Phòng</button>
  </modal-actions>
</sm-modal>